<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951562367501-a5ibql7l2o1ohqqtg8ecj63h2t59tq85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951562367501-a5ibql7l2o1ohqqtg8ecj63h2t59tq85</string>
	<key>API_KEY</key>
	<string>AIzaSyBw6j2DUQvOY-VWocEP5N1uqGVZcnFnylU</string>
	<key>GCM_SENDER_ID</key>
	<string>951562367501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.loopi.app</string>
	<key>PROJECT_ID</key>
	<string>loopi-bb8a7</string>
	<key>STORAGE_BUCKET</key>
	<string>loopi-bb8a7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951562367501:ios:16426ac85cd8fd22b4db44</string>
</dict>
</plist>